.edit-btn{
    background: #1c75bc;
    color: #ffffff;
}
.edit-btn:hover{
    color: #ffffff !important;
}
.delete-btn{
    background: #f58823 ;
    color: #ffffff;
}
.delete-btn:hover{
    color: #ffffff !important;
}
.table, tr, td ,th{
    border: 0 !important;
}
.table th{
    border-bottom: 1px solid #e5e5e5  !important;
}
